body {
	/*font-family: "Roboto", sans-serif;*/
	font-family: Arial, sans-serif;
	background-image:url("../images/sea.gif");
	background-position: center;
	
}
h1 {
	background-color: gray;
	letter-spacing: 20px;
	margin: 100px auto 100px auto;
	position: relative;
	left:250px;
	font-weight: 900;
}
table#main{
	background-color: white;
	width: 900px;
	border: 1px solid #CCC;
	margin: 150px auto 0px auto;
	height: 250px;
	opacity: 0.75;
}
input#searchInput, #stateInput, #citiesSelect{
	height: 40px;
	padding: 10px;
	margin: auto;
	width: 80%;
}
td#searchCol{
	text-align: center;
	border-right: 1px solid #CCC;
	width: 20%;
}
td#resultCol{
	padding-left: 30px;
	width: 40%;
}
label{
	font-weight: bold;
}
#warning-message{
	display: none;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
}

.form-select {
	height: 30px;
	padding: 10px;
	border: gray;
}

#mapCell {
	text-align: center;
}

#mapImg {
	width: 300px;

}

#icon {
	float: right;
	margin-right: 20px;
}